:root {
    --primaryColor: #0065FC;
}

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


a{
    color: black;
    text-decoration: none;
}


body {
    max-width: 1400px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

h2 {
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

/*------------------Couleurs logos-----------------------------*/

.bluestar {
    color: #0065FC;
}

.blackstar {
   color: rgba(0, 0, 0, 0.2);
}

i {
    color: #0065FC;
}

.blacklogo {
    color: black;
}

/*-------------------------------------------------- HEADER --------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logoHeader {
    padding-top: 40px;

}

.logoHeader img {
    width: 61.09px;
    height: 19px;
}
.menuHeader {
    margin-right: 20px;
    display: flex;
    list-style-type: none;
}

.menuHeader ul {
display: flex;
justify-content: center;
}


.menuHeader li {
    padding-top: 40px;
    margin: auto;
    margin-right: 10px;
}

.menuHeader li:hover {
    color: var(--primaryColor);
    border-top: 1px solid  var(--primaryColor);
}

.menuHeader li a:hover{
    color : #0065FC;
}

.menuHeader li a {
    text-decoration: none;
    color: black; 
    text-align: center;
}

/* ------------------------------------------------------------ FORMULAIRE DE RECHERCHE  -------------------------------------------------*/

.fonctionformulaire
{
    margin-bottom: 50px;
}

.formulaire{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulaire form {
    display: flex;
}


.logolabel{
    width: 49px;
    height: 49px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0 0 16px;
}

.formulaire input{
    width: 230px;
    height: 45px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9; 
    border-left: none;
    border-right: none;
}

.formulaire button {
    background-color: #0065FC;
    color: white;
    border: #0065FC;
    width: 132px;
    height: 49px;
    border-radius: 0 16px 16px 0;
    font-size: 1.1em;
}

.bouttonLogoRechercher {
    color: white;
    font-size: 0;
}


.filtres, .choix, .element {
    display: flex;
}

.filtres {
    width: 100%;
}



.filtres h2 {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.filtres i {
    color: #0065FC;
    font-size: 1.5em;

}

.element {
    margin: 10px;
    padding: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    align-items: center;
}

.element:hover {
    background-color: #DEEBFF;
}

.logofiltre {
    margin-right: 10px;
    margin-left: 10px;
}

.info {
    display: flex;
    margin-top: 40px;
}

.logoinfo {
    margin-right: 20px;
}
/*------------------------------------------- Hébergements à Marseille -----------------------------------------------------*/

/* Placement */ 

.sectionResultatRecherche{
   
    display: flex;
    justify-content: space-between;
    height: 626px;
    margin-bottom: 50px;
}

.hebergements {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hebergements h1{
    margin: 20px;
}




.hebergementsTop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.lesPlusPopulaires {
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px;

}

.AfficherPlus {
    padding-left: 10px;
}

.titreLesPlusPopulaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.LesCardLesPlusPopulaires {
    height: 90%;
    display: flex;
    flex-direction: column;  
}

/* card Hébergements à Marseille */ 



.cardHebergement{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: 26%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardHebergement:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.cardHebergement img {

    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 114px;
    object-fit: cover;
}

.containerHebergement {
    padding: 2px 16px;
}


/* card les plus populaires */ 

.cardlesPlusPopulaires {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: 30%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.cardlesPlusPopulaires  a{
    display: flex;
    flex-direction: row;

}
.cardlesPlusPopulaires  a img{
    width: 40%;
    
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.cardlesPlusPopulaires:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerlesPlusPopulaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2px 15px;

}
.containerlesPlusPopulaires p {
    margin-bottom: 60px;

}



/*------------------------------------------------- Activités à Marseille -----------------------------*/

.activitesMarseille {
    margin-bottom: 100px;
    width: 100%;
}

.resultatActivitesMarseille {
    width: 100%;
    display: flex;
    justify-content:space-between;

}
.resultatActivitesMarseille a {
    width: 22%;

}

.activiteMarseille {
    width:  100%;
    box-shadow: 5px 5px 5px #d9d9d985;
    border-radius: 15px;
    margin-right: 10px;
}


.activiteMarseille  img{
    width: 100%;
    height: 388px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activitesMarseille h1 {
    margin-bottom: 20px;
}

.activiteMarseille h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;

}

/*-----------------------------------------------Footer-----------------------------------------------*/

footer {
    width: 100%;
    background-color: #f2f2f2;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.liensfooter {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

.liensfooter a {
    margin-top: 20px;
    
}

/*------------------------------------------------Media Queries--------------------------------------------------*/

@media (max-width: 992px) { 



    /*------------------------------------------- Formulaire -----------------------------------------------------*/
    .logofiltre {
        margin-right: 5px;
    }

    .filtres h2 {
        margin-right: 5px;
        font-size: 1em;
    }

    .element {
        padding-right: 10px;
    }
    /*------------------------------------------- Hébergements à Marseille -----------------------------------------------------*/

    .hebergements {
        width: 95%;
        margin-bottom: 20px;

    }

    .lesPlusPopulaires {
        width: 93%;
    }

    .sectionResultatRecherche {
        flex-direction: column;
        height: auto;
    }

    .LesCardLesPlusPopulaires {
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cardlesPlusPopulaires {
        width: 30%;
        height: auto;
        margin: 0%;

    }

    /*------------------------------------------------- Activités à Marseille -----------------------------*/

    .activiteMarseille img {
        height: 210px;
    }


 }

@media (max-width: 768px) { 
    body {
        max-width: 1400px;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
        background-color: white;
    }
    /*-------------------------------------------------- HEADER --------------------------------------------------------*/

    header {
        display: block; 
        width: 100%;
    }

    .logoHeader {
        text-align: center;
    }

    .menuHeader {
        margin-right: 0px;
        padding-left: 0;

    }
    .menuHeader li{
        width: 50%;
        text-align: center;
        padding-top: 0%;
        padding-bottom: 30px;
        margin-top: 20px;
        
    }

    .menuHeader li:hover {
        
        color: #0065FC;
        border-top: 0;
        border-bottom: 3px solid  #0065FC;
    }
    
    .menuHeader li a:hover{
        color : #0065FC;
    }

    /* ------------------------------------------------------------ FORMULAIRE DE RECHERCHE  -------------------------------------------------*/

    .fonctionformulaire {
       padding-left: 20px;
       padding-right: 20px;
    }

    .fonctionformulaire h1 {
        margin-bottom: 10px;
    }

    .filtres {
         display: block; 
    }

    .titreFiltre {
        margin-bottom: 20px;
    }

    .choix {
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .element {
        display: flex;
        width: 40%;
        font-size: 0.7em;
        margin: 0;
    }

    .logofiltre {
        display: flex;
        align-items: center;
    }

    .bouttonTexteRechercher {
        display: none;
    }

    .bouttonLogoRechercher {
        font-size: 1em;
    }

    .formulaire button {
        width: 50px;
    }

    /*------------------------------------------- Hébergements à Marseille -----------------------------------------------------*/

    .sectionResultatRecherche {
        flex-direction:column-reverse;
        width: 100%;
    }

    .titreLesPlusPopulaires {
        padding-left: 20px;
        padding-right: 20px;
    }

    .lesPlusPopulaires {
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 20px;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 50px;
        border-radius: 0;
    }

    .LesCardLesPlusPopulaires {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .cardlesPlusPopulaires {
        width: 90%;
        height: 144px;
        margin: 3%;
    }

    .hebergements {
        padding: 0px;
        background-color: white;
        width: 100%;

    }

    .hebergementsTop {
        display: block;
        width: 100%;
    }

    .cardHebergement {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .AfficherPlus {
        display: none;
    }

    /*------------------------------------------------- Activités à Marseille -----------------------------*/

    .resultatActivitesMarseille {
        width: 100%;
        display: block;
        justify-content: space-between;
    }

    .activiteMarseille {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    .activitesMarseille h1 {
        width: 30%;
        padding-left: 20px;

    }

    /*-----------------------------------------------Footer-----------------------------------------------*/

    footer {
        display: block; 
    }

    .liensfooter {
        padding-left: 20px;
    }

}